<h2>Imprint</h2>
Michael Elsdörfer<br />
Ludwigstr. 1<br />
85077 Manching<br />
Germany

<h2>Legal</h2>

If a text or image a user has put on the site violates your rights, please 
<%= link_to 'contact me', {:action => 'contact' } %>.

<h2>Credits</h2>

Built with <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.com' %>.