<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>qdump.com - <%= params[:action].capitalize %></title>
    <meta name="description" content="Quickly dump text or screenshots and share with others." />
    <meta name="author" content="Michael Elsdoerfer">
    <meta name="keywords" content="text,dump,share,sharing">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-93962-5");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </head>
  <body>
    <div id="container">
        <div id="topheader">
	      <div id="theader">qdump.com</div>
          <span id="theadert">Dump. Share. Happy.</span>
		</div>
		<div id="mainbanner">			 
		</div>
		<div id="nav">
			  <ul>
				<li><%= link_to 'Dump!', {:action => 'index' } %></li>	
				<li class="right"><%= link_to 'Contact', {:action => 'contact' } %></li>
			  </ul>
		</div>
		<div id="body">
		    <%= @content_for_layout %>
		</div>
		<div id="footer">
		  Copyright (c)2007 qdump.com &middot; 
		  <%= link_to 'Imprint', {:action => 'imprint' } %> <br />
		  Design by <a href="http://www.thewebdude.co.uk/">thewebdude</a>
		</div>
	</body>
</html>			
